*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1b1fe5;
}
.first{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
}
